.center {
  text-align: center;
}

.board {
  margin: 20px auto;
  display: table;
  width: 415px;
  height: 360px;
  padding: 10px;
  background: #22313F;
  border: 1px solid #0044AA;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-spacing: 5px 5px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  background-color: white;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.player1 {
  display: table-cell;
  background-color: #C0392B;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}

.player2 {
  display: table-cell;
  background-color: #1E8BC3;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}

.player1_superpos {
  display: table-cell;
  background-color: #e5948a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.player2_superpos {
  display: table-cell;
  background-color: #7fc6ea;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}