<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>Quantum Connect Four</title>

  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="/static/css/normalize.css" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/build/bundle.css" />
</head>

<body>
  <br><br><br>

  <h1  class="center">Welcome to Quantum Connect Four!</h1><br>
  <h2  class="center">The rules are simple: 
  <ul class="center" style="list-style: none">
    <li style="list-style: none">Classical Part: </li>
    <li>Click a cell to add a bit</li>
    <li style="list-style: none">Quantum part:</li>
    <li>Click `Add qubit` to add two cells in superposition</li>
    <li>Click `Entangle` to entangle two qubits            </li>
    <li>Click `Measure` to collapse the quantum            </li>
    Ready? <a href="{{ url_for('quantum_route.index') }}" class="button">Play</a>
  </ul>
</h2>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script defer src="/build/bundle.js"></script>
<script src="/static/js/script.js"></script>
</html>
